

<h2>Post</h2>

<article>

<p>
  <h3><b><%= post.title %>
    <br />
   <small>por <em><%= post.author && post.author.name || 'Sin autor' %></em> </small></h3>
     <% var favorito=false%> 
     <% if(session.user) {%>

     <div class="post">
<div class="page-header">

      <% for (var j in post.favourites){ %>

                <% if (post.favourites[j].userId == session.user.id && post.favourites[j].postId == post.id) {%>
                   
                       <% favorito=true%> 
                <% } %>
            <% } %>

       <% if(favorito) {%>

          <form  method='post' action='/users/<%= session.user.id %>/favourites/<%= post.id %>' >

                <input type='hidden' name='_method' value='delete'>
                   
                <input type="image" src="/images/on.png"
                    onclick="this.form._method.value='delete'; this.form.submit()" />

        <% } else {%>

           <form   method='post' action='/users/<%= session.user.id %>/favourites/<%= post.id %>' >

                <input type='hidden' name='_method' value='put'>
                
                <input type="image" src="/images/off.png" onclick="this.favorito=true; this.form.submit()" />

           </form>

              </div>

        <% } %>
     <% } %>


  </b>
  <br />


</p>



<p>
  <%= post.updatedAt.toLocaleDateString() %>
</p>

<p><%- escapeText(post.body) %></p>

<% if (session.user && session.user.id == post.authorId) {%>
  <a href="/posts/<%= post.id %>/edit"> Editar </a>
<% } %>

</article>

<hr />
<%- include ../attachments/index.ejs %>

<hr />
<p>
	Número de comentarios: <%= comments.length %>
</p>
<%- include ../comments/index.ejs %>
<hr />

<% if (session.user) { %>
   <blockquote>
      <%- include ../comments/new.ejs %>
   </blockquote>
   <hr />
<% } %>

<a href="/posts"> Volver al índice de Posts</a>